body {
  width: 90%;
  padding-top: 20px;
  margin: auto;
  background-color: rgb(216, 215, 215);
  position: relative;
}

.btn {
  color: white;
  background-color: rgb(252, 18, 18);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: large;
}

#level,
#days {
  display: none;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid rgb(99, 98, 98);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(253, 251, 251);
}

table {
  table-layout: fixed;
  border-collapse: separate;
  counter-reset: rowNumber;
  margin: 0 auto;
}

table tr::before {
  display: table-cell;
  counter-increment: rowNumber;
  content: counter(rowNumber) ".";
  padding: 0.5em 0.3em 0 0;
  text-align: center;
  border: 1px solid rgb(14, 13, 13);
}

h1 {
  position: absolute;
  text-align: center;
  color: rgb(252, 18, 18);
  font-size: 200px;
  text-shadow: 0 0 3px #FF0000;
  z-index: -1;
  transform: rotate(-20deg) translate(100px,100px);
}

p {
  position: absolute;
  color: #FF0000;
  bottom: -550px;
}